{
    "log": {
        "loglevel": "warning"
    },
    "routing": {
        "domainStrategy": "IPIfNonMatch",
        "rules": [
            {   
                "type": "field",
                "ip": [
                    "geoip:ru",
                    "geoip:private"
                ],
                "outboundTag": "direct"
            },
            {   
                "type": "field",
                "domain": [
                    "regexp:.*\\.ru$",
                    "geosite:youtube",
                    "geosite:vk",
                    "geosite:yandex",
                    "geosite:category-gov-ru"
                ],
                "outboundTag": "direct"
            }
        ]
    },
    "inbounds": [
        {
            "listen": "127.0.0.1", 
            "port": 1080, 
            "protocol": "socks",
            "settings": {
                "udp": true
            },
            "sniffing": {
                "enabled": true,
                "destOverride": [
                    "http",
                    "tls",
                    "quic"
                ],
                "routeOnly": true
            }
        }
    ],
    "outbounds": [
        {
            "protocol": "vless",
            "settings": {
                "vnext": [
                    {
                        "address": "{{ ansible_default_ipv4.address }}", 
                        "port": 443, 
                        "users": [
                            {
                                "id": "{{ uuid.stdout }}", // Needs to match server side
                                "encryption": "none",
                                "flow": "xtls-rprx-vision"
                            }
                        ]
                    }
                ]
            },
            "streamSettings": {
                "network": "tcp",
                "security": "reality",
                "realitySettings": {
                    "show": false, // Optional, if true, output debugging information
                    "fingerprint": "chrome", 
                    "serverName": "{{ realityDomain }}", // A website that support TLS1.3 and h2. If your dest is `1.1.1.1:443`, then leave it empty
                    "publicKey": "{{ publicKey.stdout }}", // run `xray x25519` to generate. Public and private keys need to be corresponding.
                    "spiderX": "/", // If your dest is `1.1.1.1:443`, then you can fill it with `/dns-query/` or just leave it empty
                    "shortId": "{{ shortId.stdout }}" // Required
                }
            },
            "tag": "proxy"
        },
        {
            "protocol": "freedom",
            "tag": "direct"
        }
    ]
}