{
    "log": {
        "loglevel": "warning"
    },
    "dns": {
        "queryStrategy": "UseIPv4",
        "disableFallback": true,
        "servers": [
        {
            "address": "https://1.1.1.1/dns-query",
            "skipFallback": true
        },
        {
            "address": "https://8.8.8.8/dns-query",
            "skipFallback": true
        }
        ]
    },
    "routing": {
        "domainStrategy": "IPIfNonMatch",
        "rules": [
            {   
                "type": "field",
                "ip": [
                    "geoip:ru",
                    "geoip:private"
                ],
                "outboundTag": "direct"
            },
            {   
                "type": "field",
                "domain": [
                    "regexp:.*\\.ru$",
                    "geosite:reddit",
                    "geosite:mailru-group",
                    "geosite:yandex",
                    "geosite:category-gov-ru"
                ],
                "outboundTag": "direct"
            }
        ]
    },
    "inbounds": [
        {
            "listen": "127.0.0.1",
            "port": 1080,
            "protocol": "socks",
            "settings": {
                "udp": true
            },
            "sniffing": {
                "enabled": true,
                "destOverride": [
                    "http",
                    "tls",
                    "quic"
                ],
                "routeOnly": true
            }
        }
    ],
    "outbounds": [
        {
            "protocol": "vless",
            "settings": {
                "vnext": [
                    {
                        "address": "{{ xray_domain }}",
                        "port": {{ xray_port | int }},
                        "users": [
                            {
                                "id": "{{ uuid_files.results[item|int].stdout }}",
                                "encryption": "none"
                            }
                        ]
                    }
                ]
            },
            "streamSettings": {
                "network": "xhttp",
                "security": "tls",
                "tlsSettings": {
                    "serverName": "{{ xray_domain }}",
                    "alpn": [
                        "h2",
                        "http/1.1"
                    ],
                    "allowInsecure": false
                },
                "xhttpSettings": {
                    "path": "/xhttp",
                    "extra": {
                    "xmux": {
                        "maxConcurrency": 128,
                        "cMaxReuseTimes": 0,
                        "hMaxReusableSecs": 7200
                        }
                    }
                }
            },
            "tag": "proxy"
        },
        {
            "protocol": "freedom",
            "tag": "direct"
        }
    ]
}